.navbar-header{
    .brand-title{
        color: #fff;
        text-align: center;
        line-height: 60px;
        font-size: 22px;
        background: $brand-primary;
        letter-spacing: .05em;
    }
}
