
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

/* Icon Fonts */
@import "node_modules/material-design-iconic-font/scss/material-design-iconic-font";

/* Element UI */
@import "./element-theme";

// Variables
@import "variables";

html, body{
    height: 100%;
}

body{
    font-family: $font-family-sans-serif;
    padding: 0;
    margin: 0;
}

.login-wrapper{
    &, & > .container, & .el-row{
        height: 100%;
    }

    /*background: url(../img/bg-login.jpg);
    background-size: cover;*/
}

@import "components/header";
@import "components/navbar";
@import "components/input";
@import "components/responsive";
